body {background-color: rgb(102, 206, 102);}

h1 {color: rgb(160, 92, 47);}

.p1 {text-align: center;
    font-size: 150%;
    color: brown;
    }  
.p2 {border-width: 5px;
     border-color: rgb(94, 9, 9);
     border-style: dashed;
     margin-left: 30%;
     margin-right: 30%;
     padding-left: 20%;
    }
.p1 {background-color: rgb(177, 87, 87);}

.p3 {border-width: 5px;
    border-color: rgb(94, 9, 9);
    border-style: dashed;
    margin-left: 10%;
    margin-right: 50%;
    padding-left: 20%;
   }
.p4 {border-width: 5px;
    border-color: rgb(94, 9, 9);
    border-style: dashed;
    margin-left: 15%;
    margin-right: 20%;
    padding-left: 30%;
   }
   